{% extends "base2.html" %}
{% block content %}

      <!-- Jumbotron -->
      <div class="container">
           <div class="search-block-v2">
        <div class="container" style="margin-top:30px;">
            <div class="col-md-6 ">
              
                <div class="input-group">

                    <input id="search" type="text" class="form-control" placeholder="Search eg. physics, chemistry, dancing etc." value="{{query}}" onkeydown="if (event.keyCode==13) { search();}" value="{{query}}">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button" style="margin-top:-5px;"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                 
            </div>
            <br>
            <hr>
        </div>
        
    </div>
  </div>

    <div class="container">
      <div class="col-lg-8 col-md-8">
     <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <h2>The Mission</h2>
                        <p>At Tutorack, we are trying to make the best of teachers in any field available to people who want to learn. We are presently covering more than 500 different subjects and more subjects are added everyday. Finding good  tutors and courses should not be a barrier for people wanting to learn. </p>
                    </div>
                </div>
              </div>

      <div class="col-lg-8 col-md-8">
     <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <h2>Find</h2>
                        <p>Find tutors, institutes and courses in your city for anything you want to learn like dancing, swimming or even unqiue areas like taekwondo and magic</p>
                    </div>
                </div>
              </div>

<div class="col-lg-8 col-md-8">
     <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <h2>Connect</h2>
                        <p>Connect with tutors qucikly and directly. Network with friends who personally know the tutor to decide if they are a good fit</p>
                    </div>
                </div>
              </div>

            <div class="col-lg-8 col-md-8">
     <div class="shadow-wrapper">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <h2>Learn</h2>
                        <p>Develop new interests or harness old ones. Enhance your knowledge through any learning medium that suits you</p>
                    </div>
                </div>
              </div>

            </div>
    
   

    
      

      <!-- Example row of columns -->
<script>
$('.result').hover(function(){
  $(this).css('background-color','#eee');
},function(){
  $(this).css('background-color','white');
});
</script>   

<script>     
function options(subject)
{
  return ['check'];
  $.ajax({
  type: "GET",
  url: "/options?subject="+subject,
  
  
  success: function(data)
  {
    return data;
    
  },
  fail: function()
  {
    
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
}

var subjects = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  
  remote: {
    url: '/options?subject=%QUERY',
    wildcard: '%QUERY'
  }
});

$('.input-group #search').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
}, {
  name: 'subjects',
  display: 'value',
  source: subjects
});


function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='search?subject='+name.value.trim();
    }

</script>  
{% endblock %}



