{% extends "base.html" %}
{% block content %}

      <!-- Jumbotron -->
        <div class="row">
      <div class="col-lg-8 col-md-8 ">
      
      <div class="input-group input-group-md">
  
  <input id="search" type="text" class="form-control col-lg-12 col-md-12" placeholder="Search for a teacher eg. Physics" aria-describedby="sizing-addon1"
  onkeydown="if (event.keyCode==13) { search();}">
   <span class="input-group-btn">
        <button class="btn btn-primary" type="button" onclick="search()" style="position:relative;top:-2px;">Search</button>
      </span>
</div>
          
        </div>
      </div>

     
    <hr>
   <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="well">
      At Tutorack, we are trying to make the best of teachers in any field available to people who want to learn. We are presently covering more than 50 different subjects and plan to include hundreds of more new subjects. 
    </div>
              </div>  
            </div>

    
      

      <!-- Example row of columns -->
<script>
$('.result').hover(function(){
  $(this).css('background-color','#eee');
},function(){
  $(this).css('background-color','white');
});
</script>   

<script>     
function options(subject)
{
  return ['check'];
  $.ajax({
  type: "GET",
  url: "/options?subject="+subject,
  
  
  success: function(data)
  {
    return data;
    
  },
  fail: function()
  {
    
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
}

var subjects = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  
  remote: {
    url: '/options?subject=%QUERY',
    wildcard: '%QUERY'
  }
});

$('.input-group #search').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
}, {
  name: 'subjects',
  display: 'value',
  source: subjects
});


function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='search?subject='+name.value.trim();
    }

</script>  
{% endblock %}



