{% extends "base2.html" %}

{% block css %}
<link rel="stylesheet" href="/static/stylesheets/jquery-ui.min.css">
<link rel="stylesheet" href="/static/stylesheets/page_log_reg_v1.css">
{% endblock %}


{% block content %}

<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">
      Forgot Your Password ?
    </h1>
  </div>
</div>
{% if error|length > 0 %}
<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <br>
          <div class="alert alert-danger fade in">{{error}}</div>
        </div>
      </div>
    </div>
{% endif %}
{% if success|length > 0 %}
<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
          <br>
          <div class="alert alert-success fade in">{{success}}</div>
        </div>
      </div>
    </div>
{% endif %}


<div class="container content">   
      <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form class="reg-page" action="/forgot-password" method="post" id="form">
                    <div class="reg-header">            
                        <h2>Enter registered email below</h2>
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        
                        <input type="text" id="email" class="form-control" name="email" placeholder="Email Id">
                    </div>                    
                   
                    <div class="row">
                        <div class="col-md-6">
                                                 
                        </div>
                        <div class="col-md-6">
                            <button class="btn-u pull-right" type="submit">Submit</button>                        
                        </div>
                    </div>

                    <hr>

                    
                </form>            
            </div>
        </div><!--/row-->
    </div><!--/container-->   


        
      

      
<script>

$('#form').submit(function(){

  
      var email=$('#email').val();
  
  if(email==null || email.trim()=="")
  {
    alert("Email/Password cannot be empty");
    return false;
  }
    });


</script>
      {% endblock %}