{% extends "base2.html" %}
{% block css %}
<link rel="stylesheet" href="/static/stylesheets/pages/page_search.css">


{% endblock %}

{% block content %}

<style>

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.twitter-typeahead { width: 100%; } 
.tt-hint { width: 100%; } 
.tt-input{ width: 100%; } 
.tt-dropdown-menu { width: 100%; } 

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    // used to be tt-dropdown-menu in older versions
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  text-align: left;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #ff9966;

}

.tt-suggestion p {
  margin: 0;
}

@media (max-width: 480px) {
  
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: block;
    margin-bottom: 10px;
    clear: both;
    }
.input-group {
    display: block;
    }
.input-group, .form-control {
  width:100%;

}
.form-group .input-group .input-group-btn {
  width:100%;

}
.input-group-btn, .btn-u {
  width:100%;

}

select{
  width:100% !important;
}
.options {
  width:100%;

}

}


</style>

      <!-- Jumbotron -->
    <div class="search-block" style="background-color:#a9cddd">
        <div class="container" >
            <div class="col-md-6 col-md-offset-3" >
                
                <!--h3 style="color:white;font-family:american_typewriter">Find the best teachers for everything you want to learn</h3-->
<div class="form-group">
        <div class="input-group" >
        <div class="input-group-btn select" style="border-right:2px; border-color:#ccc;background:#ccc">
           
                <select id="location" class="form-control" style="width:auto;" style="float:none;background:#ccc">
        <option value="" class="options">Location ?</option>
        {% for city in cities %}
        <option value="{{city}}" {% if city == actual_location %} selected {% endif %} class="options"
        >{{ city | capitalize }}</option>
        {% endfor %}

      </select>
           
        </div>  
       
         <input id="search" type="text" class="form-control" style="float:none;border-left:2px;border-color:#ccc" placeholder="Search eg. dance, music, sports" onkeydown="if (event.keyCode==13) { search();}">
                  
    
      <span class="input-group-btn" style="float:none;">
                        <button class="btn-u btn-u-lg" type="button" onclick="search()"></i> Search</button>
                    </span>
        </div>
     </div>

                
               

                
            </div>
        </div>
    </div>
    <div class="container content-sm" style="padding-top:0px;padding-bottom:30px;">
   
       <!--div class="headline"><h3>Start Learning</h3></div-->
        <div class="row category margin-bottom-40" style="align-content:center;">
            <!-- Info Blocks -->
            <div class="col-md-3 col-sm-3 col-xs-6" style="align-content:center;">
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40" style="align-content:center;">
                  <div class="content-boxes-in-v3" style="align-content:center;">
                        <center><div class="heading" ><a href="/search?subject=art" class="subject-link truncated" >Art</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=art" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/artcraft1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=programming" class="subject-link truncated" >Programming</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=programming" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/program.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                 <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=cooking classes" class="subject-link truncated" >Cooking</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=cooking classes" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/cooking1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>

                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=dance" class="subject-link truncated" >Dance</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=dance" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/dance.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
               
               
                
               
            </div>
            <!-- End Info Blocks -->

            <!-- Info Blocks -->
            <div class="col-md-3 col-sm-3 col-xs-6 md-margin-bottom-40">
               <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=theatre" class="subject-link truncated" >Theatre</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=theatre" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/theatreclap.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=design and photography" class="subject-link truncated" >Design and Photography</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=design and photography" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/designphotography.op2.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=fitness and yoga" class="subject-link truncated" >Fitness & Yoga</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=fitness and yoga" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/fitnessyoga1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=hair and makeup" class="subject-link truncated" >Hair & Makeup</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=hair and makeup" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/hairmakeup1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                
                
                
            </div>

             <div class="col-md-3 col-sm-3 col-xs-6 md-margin-bottom-40">

              <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=handwriting and calligraphy" class="subject-link truncated" >Handwriting</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=handwriting and calligraphy" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/handwriting1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>

                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=languages" class="subject-link truncated" >Languages</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=languages" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/languages1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=music" class="subject-link truncated" >Music</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=music" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/musicinstruments1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=personal development" class="subject-link truncated" >Personal Development</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=personal development" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/personaldevspirituality1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>

                
               
                
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6 md-margin-bottom-40">

              <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=toddlers" class="subject-link truncated" >Toddler Education</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=toddlers" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/toddlers1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>

                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=sports" class="subject-link truncated" >Sports</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=sports" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/sports1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/search?subject=consultants" class="subject-link truncated" >Career Counselling</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/search?subject=consultants" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/careercounselling1.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>
                <div class="content-boxes-v3 margin-bottom-40 md-margin-bottom-40">
                  <div class="content-boxes-in-v3">
                    <center>
                        <div class="heading" ><a href="/subjects" class="subject-link truncated" >All Subjects</a></div>
                        <!--p>From salsa and kathak to zumba and kuchipudi, find teachers and courses for over 20 different types of dances</p-->
                        <a href="/subjects" class="subject-link" ><img class="icon-custom icon-sm icon-bg-red img-responsive" src="/static/images/icons/allsubjects.png" style="background-color:white;;"></img></a>
                      </center>
                    </div>
                      
                    <!--i class="icon-custom icon-sm rounded-x icon-bg-aqua fa fa-music"></i-->
                    
                </div>

                
               
                
            </div>
          </div>



            <!-- End Info Blocks -->

    </div>

    <div class="bg-color-light">
        <div class="container content-sm">
            <div class="headline-center margin-bottom-60">
                <h2>WHAT PEOPLE SAY</h2>
                <p>Find online courses, videos, teachers and institutes in your neighborhood. Learn at your own pace.<br>
                  And you can start now - its free and does not require any registration
                </p>
            </div>

            <!-- Testimonials Wrap -->
            <div class="testimonials-v6 testimonials-wrap">
                <div class="row margin-bottom-50">
                    <div class="col-md-6 md-margin-bottom-50">
                        <div class="testimonials-info rounded-bottom">
                            
                            <div class="testimonials-desc">
                                <p>Its amazing how quickly I found a guitar teacher through Tutorack.</p>
                                <strong>Pulak</strong>
                                <span>Guitar Student</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonials-info rounded-bottom">
                            
                            <div class="testimonials-desc">
                                <p>This app is really useful for people looking for teachers in their neighborhood.</p>
                                <strong>Mudit</strong>
                                <span>Business student</span>
                            </div>
                        </div>
                    </div>
                </div><!--/end row-->

                <div class="row margin-bottom-20">
                    <div class="col-md-6 md-margin-bottom-50">
                        <div class="testimonials-info rounded-bottom">
                            
                            <div class="testimonials-desc">
                                <p>Quick & simple - that has been my experience with the service. Very easy to find all sorts of online courses on this app.</p>
                                <strong>Sarthak</strong>
                                <span>Mathematics Student</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonials-info rounded-bottom">
                            
                            <div class="testimonials-desc">
                                <p>I really liked the Facebook feature where you can see which teacher your friends have studied under.</p>
                                <strong>Isihika</strong>
                                <span>Art Student</span>
                            </div>
                        </div>
                    </div>
                </div><!--/end row-->
            </div>
            <!-- End Testimonials Wrap -->
        </div><!--/end container-->
    </div>
    <div class="container content-sm">
    <div class="row margin-bottom-10">
      <div class="headline-center margin-bottom-20">
        <h2>HOW IT WORKS</h2>
      </div>
          <div class="col-md-4">
            <div class="service">
                    <i class="fa fa-search service-icon"></i>
              <div class="desc">
                <h4>Find</h4>
                        <p>Find tutors, institutes and courses in your city for anything you want to learn like dancing, swimming or even unqiue areas like taekwondo and magic</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
                    <i class="fa fa-cogs service-icon"></i>
              <div class="desc">
                <h4>Connect</h4>
                        <p>Connect with tutors qucikly and directly. Network with friends who personally know the tutor to decide if they are a good fit</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
                    <i class="fa fa-rocket service-icon"></i>
              <div class="desc">
                <h4>Learn</h4>
                        <p>Develop new interests or harness old ones. Enhance your knowledge through any learning medium that suits you</p>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!--div class="container content-sm">
      <div class="videoWrapper">
        
          <iframe src="https://www.youtube.com/embed/pGMBDs_YWSg" frameborder="0" allowfullscreen></iframe>
        
      </div>
        </div-->

<script>     
function options(subject)
{
  return ['check'];
  $.ajax({
  type: "GET",
  url: "/options?subject="+subject,
  
  
  success: function(data)
  {
    return data;
    
  },
  fail: function()
  {
    
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
}

var subjects = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  
  remote: {
    url: '/options?subject=%QUERY',
    wildcard: '%QUERY'
  },
  prefetch : {
    url: '/options?subject='
   
  }
});

var suggestion="";
var classify="y";

$('.input-group #search').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
}, {
  name: 'subjects',
  display: 'value',
  source: subjects
}).on('typeahead:select', function (obj, suggestion) {
  suggestion=suggestion['value'];
  classify="n";
  mixpanel.track('Search Performed',{'Query':suggestion,'From':'Suggestion'});
  var location='&location='+$('#location').find(':selected').val();
  window.location='search?is_pre_filter=y&subject='+encodeURIComponent(suggestion)+"&classify=n"+location; 
  
})
;


function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
          mixpanel.track('Search Performed',{'Query':name.value.trim(),'From':'Search Button'});
          
          var location='&location='+$('#location').find(':selected').val();
          window.location='search?subject='+encodeURIComponent(name.value.trim())+location;
        

    }

 mixpanel.track('Main Pageview');
 mixpanel.track_links('.subject-link','FP Subject Link');

</script>
      <!-- Example row of columns -->
     
{% endblock %}






