{% extends "base.html" %}
{% block content %}

      <!-- Jumbotron -->
     <center>
      <div class="jumbotron" style="background-color:white">
        <h1>Local Tutor</h1>
      
        <p class="lead">Find the best teachers on any subject - from Physics and Economics to Swimming and Dancing</p>

        <div class="row">
      <div class="col-lg-8 col-md-8 col-lg-offset-2 col-lg-offset-2">
      
      <div class="input-group input-group-md">
  
  <input type="text" class="form-control" placeholder="Search for a teacher eg. Physics" aria-describedby="sizing-addon1">
   <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Search</button>
      </span>
</div>
          
        </div>
      </div>
        
      
      
      
    </div>
  
      </center>

      

      <!-- Example row of columns -->
     
{% endblock %}



