{% extends "base2.html" %}

{% block css %}
<link rel="stylesheet" href="/static/stylesheets/jquery-ui.min.css">
<link rel="stylesheet" href="/static/stylesheets/page_log_reg_v1.css">
{% endblock %}

{% block content %}



<div class="breadcrumbs" style="background-color:#a9cddd;">
	<div class="container">
		<h1 class="pull-left" style="color:white;">
			User Registration & Login
		</h1>
	</div>
</div>
{% if signup_error|length >0 %}
<div class="container">
<div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            	<br>
              <div class="alert alert-danger fade in">{{signup_error}}</div>
              </div>
          </div>
      </div>
{% endif %}
{% if error|length >0 %}
<div class="container">
<div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <br>
          <div class="alert alert-danger fade in">{{error}}</div>
        </div>
      </div>
</div>
{% endif %}

<div class="container content">
        <div class="row">
            <div class="col-md-6  col-sm-8 ">
                <form class="reg-page" id="form_signup" action="/signup" method="post">
                    <div class="reg-header">
                        <h2>Register a new account</h2>

                        <!--p>Already Signed Up? Click <a href="/login2" class="color-green">Sign In</a> to login to your account.</p-->                    
                    </div>

                    <label>Name <span class="color-red">*</span></label>
                  	<input type="text" id="username" class="form-control margin-bottom-20" name="username" placeholder="{{username}}" value="{{username}}">
                   
                    <label>Email Address <span class="color-red">*</span></label>
                    <input type="text" id="email"  class="form-control margin-bottom-20" name="email" placeholder="{{email}}" value="{{email}}">

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Password <span class="color-red">*</span></label>
                            
                            <input type="password" id="password" class="form-control margin-bottom-20" name="password">
                            <p class="help-block">Should be atleast 5 characters</p>
                        </div>
                        <div class="col-sm-6">
                            <label>Confirm Password <span class="color-red">*</span></label>
                            
                            <input type="password" id="confirm_password" class="form-control margin-bottom-20" name="confirm_password">
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-lg-6">
                                                   
                        </div>
                        <div class="col-lg-6 text-right">
                            <button class="btn-u" type="submit">Register</button>                        
                        </div>
                    </div>
                </form>
                <br>
                <br>
            </div>

            <div class="col-md-4 col-md-offset-1 col-sm-6 col-sm-offset-1">
                <form class="reg-page" action="/login2" method="post" id="form_login">

                    
                   <center> <button type="button" class="btn" style="background:#3b5998;color:white" onclick="fblogin()">Login with Facebook</button></center>
                    <hr>
                    <div class="reg-header">            
                        <h2>Login to your account</h2>
                        <!--p>Don't have an account yet? Click <a href="/signup" class="color-green">Sign Up</a> to create a new account.</p-->
                    </div>

                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        
                        <input type="text" id="name" class="form-control" name="username" placeholder="Email Id">
                    </div>                    
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      
                        <input type="password" id="login_password" class="form-control" name="password" placeholder="Password" onkeydown="if (event.keyCode==19) { document.getElementById('login_submit').focus();}">
                    </div>                    

                    <div class="row">
                        <!--div class="col-md-6" style="padding-left:30px;">
                          <label class="checkbox">
                          <input name="remember_me" id="remember_me" type="checkbox">
                          Stay signed in
                          </label>                                                 
                        </div-->
                        <div class="col-md-6">
                            <button class="btn-u" type="submit">Login</button>                        
                        </div>
                    </div>

                    <hr>

                    <h4>Forgot your password ?</h4>
                    <p>no worries, <a class="color-green" href="/forgot-password">click here</a> to reset your password.</p>
                    
                </form>            
            </div>
        </div>
    </div><!--/container-->		

<script>
$('#form_signup').submit(function(){

      mixpanel.track('Signup Submitted');
      var username=$('#username').val();
      var email=$('#email').val()
      var password=$('#password').val();
      var confirm_password=$('#confirm_password').val();
      if(email==null || email.trim()=="" || password==null || password.trim()=="" || username==null || username.trim()=="")
      {
        alert("Email, password and name cannot be empty");
        return false;

      }
      if(password!=confirm_password)
      {
        alert("Passwords do not match");
        return false;
      }
      if(password.length<5)
      {
        alert("Password should be atleast 5 characters");
        return false;
      }

      mixpanel.track('Signup Submitted Successfully');

    });

$('#form_login').submit(function(){

  
      var name=$('#name').val();
  var password=$('#login_password').val();
  if(name==null || name.trim()=="" || password==null || password.trim()=="")
  {
    alert("Email/Password cannot be empty");
    return false;
  }
  mixpanel.track('Login from login-page);
    });

</script>
{% endblock %}