{% extends "base.html" %}
{% block content %}

      <!-- Jumbotron -->
        <div class="row">
      <div class="col-lg-8 col-md-8 ">
      
      <div class="input-group input-group-md">
  
  <input id="search" type="text" class="form-control col-lg-12 col-md-12" placeholder="Search for a teacher eg. Physics" aria-describedby="sizing-addon1"
  onkeydown="if (event.keyCode==13) { search();}">
   <span class="input-group-btn">
        <button class="btn btn-primary" type="button" onclick="search()" style="position:relative;top:-2px;">Search</button>
      </span>
</div>
          
        </div>
      </div>

     
    <hr>


     <div class="row">
      <div class="col-lg-12 col-md-12">
     
      
      
      <h2>Categories</h2>
      
      
      {% for categories in category_wise|batch(3) %}
       <div class="row clearfix">
        {% for category in categories %}
     
        <div class="col-lg-4 col-md-4 col-sm-12">
          {% set actual_category, subjects = category %}
      <h3><a href="/search?subject={{actual_category|urlencode}}&classify=n">{{actual_category.title()}}</a></h3>
        <ul>
        {% for subject in subjects %}
          <li>
          <a href="/search?subject={{subject|urlencode}}&classify=n">{{subject}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  
      {% endfor %}
  </div>      
        {% endfor %}
      
          
            </div>
          </div>

    <hr>

   <div class="row">
      <div class="col-lg-12 col-md-12">
      <table class="table table-striped table-bordered">
      <thead>
      <tr>
      
      <h2>All Subjects</h2>
      
      </tr>
      </thead>
      <tbody>
      {% for subjects in output|batch(3) %}        
      <tr>
        {% for subject in subjects %}
        <td>
          <a href="/search?subject={{subject|urlencode}}&classify=n">{{subject}}</a>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
              </div>  
            </div>

    
      

      <!-- Example row of columns -->
<script>
$('.result').hover(function(){
  $(this).css('background-color','#eee');
},function(){
  $(this).css('background-color','white');
});
</script>   

<script>     
function options(subject)
{
  return ['check'];
  $.ajax({
  type: "GET",
  url: "/options?subject="+subject,
  
  
  success: function(data)
  {
    return data;
    
  },
  fail: function()
  {
    
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
}

var subjects = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  
  remote: {
    url: '/options?subject=%QUERY',
    wildcard: '%QUERY'
  },
  prefetch : {
    url: '/options?subject='
   
  }
});

$('.input-group #search').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
}, {
  name: 'subjects',
  display: 'value',
  source: subjects
});


function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
        window.location='search?subject='+encodeURIComponent(name.value.trim());
    }

function custom_logic(login_status){
  return;
}

</script>  
{% endblock %}



