{% extends "base2.html" %}
    {% block css %}
<link rel="stylesheet" href="/static/stylesheets/pages/page_search_inner.css">
{% endblock %}
{% block content %}

      <!-- Jumbotron -->
  


      <!-- Jumbotron -->
        <div class="search-block">
        <div class="container" style="padding-top:30px;margin-bottom:20px;padding-bottom:20px;">
            <div class="col-md-6 ">
              
               <div class="form-group">
       
     
                <div class="input-group">
                   <div class="input-group-btn select" style="border-right:1px; border-color:#ccc;background:#ccc">
           
                <select id="location" class="form-control" style="width:auto;" style="float:none;background:#ccc">
        <option value="" >Location ?</option>
        {% for city in cities %}
        <option value="{{city}}" {% if city == actual_location %} selected {% endif %}
        >{{ city | capitalize }}</option>
        {% endfor %}
      </select>
           
        </div>  

                    <input id="search" type="text" class="form-control" placeholder="eg. physics, chemistry, dance" value="{{query}}" onkeydown="if (event.keyCode==13) { search();}" value="" style="float:none;">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button" style="float:none;" onclick="search()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
              </div>
                 
            </div>
           
        </div>
        
    </div>

     
    <div class="container">
    <div id="tutor_id" style="display:none;">
      {{tutor['_id']}}
    </div>


     <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="panel panel-u margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-user"></i> Detailed Information</h3>
                    </div>
                    <div class="panel-body">
     
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td>
                  <h3>Resource Information</h3>
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Name
                </td>
                <td>
                  {{tutor['name'].upper()}}
                </td>
              </tr>
              <tr>
                <td>
                  Relevant to
                </td>
              <td>
                   {% for subjects_outer in display_subjects|batch(3) %}
       <div class="row clearfix">
        {% for subject in subjects_outer %}
     
        <div class="col-lg-4 col-md-4 col-sm-12">
                    <a href="/search?subject={{subject|urlencode}}&is_pre_filter=y" style="color:#ef4e31">{{subject}}</a> 
                    </div>
  
      {% endfor %}
  </div>      
        {% endfor %}
                 <!-- {% for subject in display_subjects %}
                    <a href="/search?subject={{subject|urlencode}}&is_pre_filter=y">{{subject}}</a> 
                    <br>
                    {% endfor %} -->
                </td>
              </tr>
              
              <tr>
                <td>
                  Online URL
                </td>
                <td>
                  <a href="{{tutor['geographical_location']}}" style="color:#ef4e31">Link</a>
                </td>
              </tr>
              
             
              
              <tr>
                <td>
                  Available at
                </td>
                <td>
                  {{tutor['venue']}}
                </td>
              </tr>
              <tr>
                <td>
                 Suitable for 
                </td>
                <td>
                  {{tutor['classroom_type'].title()}} Study
                </td>
              </tr>
             
              <tr>
                <td>
                  Social Recommendation
                </td>
                <td>
                   <ul id="like_section_{{tutor['_id']}}" class="list-inline down-ul"
                     {% if tutor['likes']+tutor['likes_fake'] > 0 %}
                    style="display:;"
                    {% else %}
                    style="display:none;"
                    {% endif %}
                    >
                      <li>
                         {% if tutor['likes']+tutor['likes_fake'] == 0 %}
                    <span id="likes_{{tutor['_id']}}">
                     
                      </span>
                    {% endif %}

                    {% if tutor['likes']+tutor['likes_fake'] > 2 %}
                    <span id="likes_{{tutor['_id']}}">
                      {% if tutor['_id'] in student_tutor_like %}
                      You and {{tutor['likes']+tutor['likes_fake'] - 1}} people like this 
                      {% else %}
                      {{tutor['likes']+tutor['likes_fake']}} people like this 
                      {% endif %}
                      </span>
                    {% endif %}
                    {% if tutor['likes']+tutor['likes_fake'] == 2 %}
                    <span id="likes_{{tutor['_id']}}">
                      {% if tutor['_id'] in student_tutor_like %}
                      You and {{tutor['likes']+tutor['likes_fake'] -1}} person like this 
                      {% else %}
                      {{tutor['likes']+tutor['likes_fake']}} people like this 
                      {% endif %}
                      </span>
                    {% endif %}
                    {% if tutor['likes']+tutor['likes_fake'] == 1 %}
                    <span id="likes_{{tutor['_id']}}">
                      {% if tutor['_id'] in student_tutor_like %}
                      You like this
                      {% else %}
                      {{tutor['likes']+tutor['likes_fake']}} person likes this
                      {% endif %}
                      </span>
                    {% endif %}

                     {% if current_user.id %}
                  <!-- <ul class="list-inline down-ul">
                    <li> -->
                      <br>
                    <button id="like_{{tutor['_id']}}" type="button" class="btn-u btn-u-sm" onclick="like_tutor('{{tutor['_id']}}', '{{current_user.id}}',{{[tutor['likes'],tutor['likes_fake']]|sum}})"
                    {% if tutor['_id'] not in student_tutor_like %}
                    style="display:;background:#2f95d2"
                    {% else %}
                    style="display:none;background:#2f95d2"
                    {% endif %}
                    ><i class="fa fa-thumbs-up"></i> Like</button>

                    <button id="dislike_{{tutor['_id']}}" type="button" class="btn-u btn-u-sm btn-u-light-green" onclick="dislike_tutor('{{tutor['_id']}}', '{{current_user.id}}',{{[tutor['likes'],tutor['likes_fake']]|sum}})"
                    {% if tutor['_id'] in student_tutor_like %}
                    style="display:;"
                    {% else %}
                    style="display:none;"
                    {% endif %}
                    ><i class="fa fa-thumbs-down"></i> Un-like</button>
            <!--      </li>
                </ul> -->
                 

                    {% endif %}

                  </li>
                </ul>
              </td>
                {% if current_user.id and current_user.fb_id %}
                   
                   <tr>
                    <td>
                      Known Resource ?
                    </td>
                    <td>
                    <ul class="list-inline down-ul">
                        <li>
                         
                   <button id="associate_{{tutor['_id']}}" type="button" class="btn-u btn-u-sm" onclick="associate_tutor('{{tutor['_id']}}','{{current_user.fb_id}}')"  
                      {% if tutor['_id'] not in student_tutor_assoc %}
                      style="display:;background:#2f95d2"
                      {% else %}
                      style="display:none;background:#2f95d2"
                      {% endif %}
                      style=""
                      >{% if tutor['area']=='online' %}
                          Yes, I know of this
                          {% else %}
                          I studied under this teacher
                          {% endif %}</button>
                      
                      <span id="disassociate_{{tutor['_id']}}"
                       {% if tutor['_id'] in student_tutor_assoc %}
                      style="display:;"
                      {% else %}
                      style="display:none;"
                      {% endif %}
                      style="background:#2f95d2"
                     >
                      {% if tutor['area']=='online' %}
                          You know of this
                          {% else %}
                         You studied under this tutor
                          {% endif %}

                      
                       

                      <button type="button" class="btn-u btn-u-dark btn-u-sm" onclick="disassociate_tutor('{{tutor['_id']}}','{{current_user.fb_id}}')">No I don't</button>



                   
                    </span>
                    </li>
                 </ul>
               </td>
             </tr>
             
                   
                     {% else %}
                      <tr>
                    <td>
                      Known Resource ?
                    </td>
                    <td>
                         <ul class="list-inline down-ul">
                        <li>
                        <button type="button" class="btn-u btn-u-sm" data-toggle="modal" data-target="#fb-modal-login" style="background:#2f95d2" onclick="track_fb()" title="Marking this as known to you helps your friends ask you for feedback">
                          {% if tutor['area']=='online' %}
                          Yes, I know of this
                          {% else %}
                          I studied under this teacher
                          {% endif %}
                        </button>
                        
                        
                        <div class="modal fade" id="fb-modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel4">You need to login through Facebook for this</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-9">
                                            
                    <h4> Login through your existing Facebook account</h4>
                    <p> Logging in through Facebook enables you to see what resources your friends know about</p>
                    <button class="btn-u pull-left" onclick="fblogin()" data-dismiss="modal" aria-hidden="true" style="background:#3b5998;color:white;">Facebook Login</button><br>
                    <hr>
                    <h4>Want an account here? Its free</h4>
                    <p> <a class="color-green" href="/signup">Click here</a> to create a new account</p>
               
                                            </div>
                                          
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                      </td>
                    </tr>
                        {% endif %}
              <tr style="" id="friends">
                <td>
                  Friends who know of this resource
                </td>
                <td id="friend_names">
                  {% if current_user.id and current_user.fb_id %}
                  {% else %}
                  Login through Facebook and invite friends to find out who knows of this resource
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>

      

              </div>  
            </div>
          </div>
        </div>
      </div>

    
      

      <!-- Example row of columns -->
<script>
$('.result').hover(function(){
  $(this).css('background-color','#eee');
},function(){
  $(this).css('background-color','white');
});
</script>   

<script>     
function options(subject)
{
  return ['check'];
  $.ajax({
  type: "GET",
  url: "/options?subject="+subject,
  
  
  success: function(data)
  {
    return data;
    
  },
  fail: function()
  {
    
    
  }
}).done(function( msg ) {
 // document.getElementById("user_tips").value="";
  //alert("Thanks for helping us improve!");
});
}

var subjects = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  
  remote: {
    url: '/options?subject=%QUERY',
    wildcard: '%QUERY'
  },
  prefetch : {
    url: '/options?subject='
   
  }
});
buffer["{{tutor['_id']}}"]=0;
var suggestion="";
var classify="y";

$('.input-group #search').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
}, {
  name: 'subjects',
  display: 'value',
  source: subjects
}).on('typeahead:select', function (obj, suggestion) {
  suggestion=suggestion['value'];
  classify="n";
  mixpanel.track('Search Performed',{'Query':suggestion,'From':'Suggestion'});
  var location='&location='+$('#location').find(':selected').val();
  window.location='search?is_pre_filter=y&subject='+encodeURIComponent(suggestion)+location; 
  
});


function search()
    {
        var name=document.getElementById("search");
        if(name==null || name.value.trim()=="")
          return;
         if(classify!="n")
        {  
          
          mixpanel.track('Search Performed',{'Query':name.value.trim(),'From':'Search Button'});
          var location='&location='+$('#location').find(':selected').val();
          window.location='search?subject='+encodeURIComponent(name.value.trim())+location;
        }
        else
        {
          
          
        }
    }

function custom_logic(login_status){
  friend_tutor();
}

function friend_tutor(){
  var tutor_id=$('#tutor_id').text().trim();
  var friends=[];
  var friend_names={};
  
   FB.api('/me/friends', function(response) {
    console.log(response);
    
    var ind=0;
    for(ind=0;ind<response['data'].length;ind++)
    {
      friends.push(response['data'][ind]['id']);
      friend_names[response['data'][ind]['id']]=response['data'][ind]['name'];
    }

    data={}
   data['tutor']=tutor_id;
   data['friends']=friends;
   console.log(data);
   jQuery.ajax({
    url: '/friend_tutor_name',
    data: data,
    type: 'POST',
    success: function(data)
    {
      var result="";
      var ind=0;
      console.log(friend_names);
      console.log(data);
      for(ind=0;ind<data['friend_tutor'].length;ind++)
      {
        result=result+friend_names[data['friend_tutor'][ind]]+"<br>"
      }
      
      if(typeof data['friend_tutor']=='undefined' || data['friend_tutor'].length<1)
      {
        $('#friend_names').html('None of your friends know of this resource yet');  
      }
      else{
      $('#friend_names').html(result);
    }
      $('#friends').css('display','');
    }
  });
 });
}

fbq('track', "ViewContent");

function associate_tutor(tutor_id,student_id){

  mixpanel.track('I Studied Under');
  data={};
  data['tutor_id']=tutor_id;
  data['student_id']=student_id;
  jQuery.ajax({
    url: '/associate_student_tutor',
    data: data,
    type: 'POST',
    success: function(data)
    {
      if(data['result']=='success')
      {
        $('#associate_'+tutor_id).css('display','none');
        $('#disassociate_'+tutor_id).css('display','');
      }
    }

});
}

function disassociate_tutor(tutor_id,student_id){

  mixpanel.track('I did not Study Under');
  data={};
  data['tutor_id']=tutor_id;
  data['student_id']=student_id;
  jQuery.ajax({
    url: '/disassociate_student_tutor',
    data: data,
    type: 'POST',
    success: function(data)
    {
      if(data['result']=='success')
      {
        $('#disassociate_'+tutor_id).css('display','none');
        $('#associate_'+tutor_id).css('display','');
      }
    }

});
}


function like_tutor(tutor_id,student_id,likes){

  data={};
  data['tutor_id']=tutor_id;
  data['student_id']=student_id;

  mixpanel.track('Tutor Page: Logged-in Like');

  likes=parseInt(likes);
  jQuery.ajax({
    url: '/like_student_tutor',
    data: data,
    type: 'POST',
    success: function(data)
    {
      if(data['result']=='success')
      {
        $('#like_'+tutor_id).css('display','none');
        $('#dislike_'+tutor_id).css('display','');
        if(likes+buffer[""+tutor_id]==0)
        {
          $('#like_section_'+tutor_id).css('display','');
          $('#likes_'+tutor_id).html('You like this teacher');
        }
        if(likes+buffer[""+tutor_id]==1)
        {
          $('#like_section_'+tutor_id).css('display','');
          $('#likes_'+tutor_id).html('You and '+'1 person like this teacher');
        }
        if(likes+buffer[""+tutor_id]>1)
        {
          $('#like_section_'+tutor_id).css('display','');
          $('#likes_'+tutor_id).html('You and '+(likes+buffer[""+tutor_id])+' people like this teacher');
        }
        buffer[""+tutor_id]=buffer[""+tutor_id]+1;

      }
    }

});
}

function dislike_tutor(tutor_id,student_id,likes){

  data={};
  data['tutor_id']=tutor_id;
  data['student_id']=student_id;
  likes=parseInt(likes);

  mixpanel.track('Tutor Page: Logged-in Dislike');

  jQuery.ajax({
    url: '/dislike_student_tutor',
    data: data,
    type: 'POST',
    success: function(data)
    {
      if(data['result']=='success')
      {
        $('#dislike_'+tutor_id).css('display','none');
        $('#like_'+tutor_id).css('display','');
      }
      if(likes+buffer[""+tutor_id]<=1)
        {
          $('#like_section_'+tutor_id).css('display','none');
          
        }
      if(likes+buffer[""+tutor_id]==2)
        {
          $('#like_section_'+tutor_id).css('display','');
          $('#likes_'+tutor_id).html('1 person likes this teacher');
        }
      if(likes+buffer[""+tutor_id]>2)
        {
          $('#like_section_'+tutor_id).css('display','');
          if(buffer[""+tutor_id]>0)
          {
          
          $('#likes_'+tutor_id).html(likes+' people like this teacher');
        }
        else {
         $('#likes_'+tutor_id).html((likes-1)+' people like this teacher'); 
        }

        }
        buffer[""+tutor_id]=buffer[""+tutor_id]-1;
    }

});
}

</script>  
{% endblock %}



